.imgBtnContainer{
 border: 1px solid var(--border-color);
 border-radius: 50%;
 min-width: fit-content;
 max-width: 8rem;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0.8rem;
}

.btnImg{
 width:4rem;
 height: 4rem;
 margin: auto;
 object-fit: contain;
}