.queryAns-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 96%;
  height: auto;
  padding: 1rem;
  margin: 2%;
  border-radius: 0.4rem;
}

.conversation-tab {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.conversation-txt{
  font-size: 1rem;
  font-weight: 400;
  color: black;
  line-height: 1.5rem;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 90%;
}

.ans {
  margin-top: 2%;
  border: none;
}

.speaker {
  margin-left: auto;
  margin-right: 1%;
}

.conversation-profile {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
