.queryAns-container {
  display: flex;
  flex-direction:column;
  background-color: transparent;
  width: 100%;
  height: auto;
  padding: 1rem;
}


.conversation-profile {
  width: 2rem;
  height: 2rem;
}

.conversation-txt {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  line-height: 1.5rem;
  word-spacing: 0.12rem;
  padding-right: 0.5rem;
  width: 100%;
  text-align: left;
}

.query {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.query-conversation-txt-container {
  display: flex;
  margin-left: 10%;
  max-width: 85%;
  background-color: white;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.user-icon {
  margin-left: 1%;
}

.ans {
  margin-top: 2%;
  display: flex;
  align-items: flex-start;
}

.ans-conversation-txt-container{
 background-color: white;
 display: flex;
 max-width:85%;
 border-radius: 0.4rem;
 padding: 0.5rem;
}

.bot-icon{
 margin-right: 1%;
}

.speaker {
  margin-left: 0.5rem;
  margin-right: 0.85rem;
  align-self: flex-start;
  cursor: pointer;
}


