.chat-conversation {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 0.4rem;
  width: 100%;
  height: 100%;
  margin-right: 5%;
  background-color: white;
  z-index: 1;
  box-shadow: 1px 1px 1rem 1rem rgb(237, 245, 234);
}

.chatbot-header{
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap:1rem;
 margin:1rem;
 margin-left: 1.5rem;
}

.chatbot-header-img{
  width:1.8rem;
  height:1.8rem;
}

.chatbot-header-txt{
  text-transform: uppercase;
  color:var(--primary-color);  
}


#queryAns-main-container{
  display: flex;
  flex-direction: column;
  background-color:rgb(231, 250, 231);
  width: 98%;
  height: 100%;
  overflow-y: auto;
  margin:1%;
  border-radius: 0.4rem;
  overflow-y: auto;
}

.chatbot-footer{
  display: flex;
  align-items: center;
}

.home-btn{
  margin-left: 3%;
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--primary-color);
  border-radius: 0.4rem;
  border: 1px solid var(--border-color);
  min-width:fit-content;
  cursor: pointer;
}

#searchbar {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left:auto;
  margin-right: auto;
}
